
<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
            <title>My Post - {{ title }}</title>
        {% else %}
            <title>My Post</title>
            
        {% endif %}
        
    <body>
        {% block content %}

        <h2>This is my  my post</h2>

        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tag }}">
                    {{ message }}
                    </div>
                {% endfor%}
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>